<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment"></head>
<body>
<div th:fragment="timeColumnFragment">
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">Время</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">00:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">00:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">01:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">01:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">02:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">02:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">03:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">03:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">04:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">04:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">05:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">05:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">06:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">06:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">07:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">07:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">08:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">08:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">09:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">09:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">10:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">10:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">11:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">11:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">12:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">12:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">13:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">13:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">14:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">14:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">15:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">15:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">16:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">16:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">17:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">17:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">18:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">18:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">19:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">19:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">20:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">20:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">21:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">21:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">22:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">22:30</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">23:00</div>
    </strong>
    <strong>
        <div class="cell d-flex align-items-center justify-content-center">23:30</div>
    </strong>
</div>
</body>