<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment">
    <title id="pageTitle">Бронирование</title>
</head>

<body>
<div th:replace="fragments/form-nav-menu :: menuFragment"/>
<div class="container col-lg-4 col-md-6 my-2">
    <h1 class="text-center">Бронирование переговорки</h1>
    <form role="form" th:action="@{/booking/create}" th:object="${bookingCreateDto}" method="post">
        <div class="form-group">
            <label for="name">Название брони</label>
            <input class="form-control" id="name" name="name" autofocus="autofocus"/> <br/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <input class="form-control" type="text" id="description" name="description"/><br/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}"
                 th:errors="*{description}"></div>
        </div>
        <div class="form-group">
            <label for="stringTimeFrom">Время начала брони</label><br/>
            <input class="form-control" id="stringTimeFrom" name="stringTimeFrom" readonly>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('stringTimeFrom')}"
                 th:errors="*{stringTimeFrom}"></div>
        </div>
        <div class="form-group">
            <label for="stringTimeTo">Время окончания брони</label><br/>
            <input class="form-control" id="stringTimeTo" name="stringTimeTo" readonly/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('stringTimeTo')}"
                 th:errors="*{stringTimeTo}"></div>
        </div>
        <div class="my-2 text-center">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Забронировать"/>
        </div>
    </form>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>